#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

form {
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}

form button {
  margin: 20px 5px;
  padding: 5px;
  width: 80px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination span {
  border: 2px solid black;
  display: flex;
  margin: 10px;
  padding: 10px 20px 20px 20px;
}

.pagination span.pagination-selected {
  background-color: rgb(136, 105, 105);
}
